<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand">TinyLinks</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-between w-100">
        <div class="d-flex">
          <a class="nav-item nav-link">My URLs</a>
          <a class="nav-item nav-link">Create New URL</a>
        </div>
        <div class="d-flex">
          <span class="nav-item nav-link">Logged in as: </span>
          <form>
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
          <a class="nav-item nav-link">Login</a>
          <a class="nav-item nav-link">Register</a>
        </div>
      </div>
    </div>
  </nav>
</header>
