<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 PAGE</title>
    </head>
    <body>
        <h1>Oops, the page doesn't exist.</h1>
        <button id="goBackRootPage">Let's go back.</a>
        <script>
            const goBackBtn = document.getElementById("goBackRootPage");
            goBackBtn.addEventListener("click", ()=>{
                window.location.href= "/";
            })
        </script>
    </body>
</html>
